<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinervAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <a href="/">Home</a>
    <header>
      <h1>MinervAI</h1>
      <p>
        MinervAI, named after the roman Goddess of windom, is an intelligent
        companion designed to enhance the reading experience. By leveraging
        advanced AI models (Gemini API), this tool helps students engage with
        their reading assignments more effectively. It offers personalized
        assistance in summarizing, quizzing, and explaining complex concepts,
        turning passive reading into an interactive learning experience.
      </p>
    </header>
  </body>
</html>
