<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinervAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>MinervAI</h1>
      <p>Your AI Study Assistant</p>
    </header>

    <section class="flashcards">
      <h2>Here is a summary of your module...</h2>
      <article>{{ gemini_flashcards_response | safe }}</article>
    </section>
  </body>
</html>
