<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinervAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
  </head>
  <body>
    <header>
      <h1>MinervAI</h1>
    </header>

    <section id="user-input">
      <form action="/" method="POST">
        <textarea
          name="userInput"
          placeholder="Paste your reading module or text here"
          required
        ></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>
    {% if gemini_response %}
    <section id="summaries">
      <h2>Here is a summary of your module</h2>
      <article>{{ gemini_response }}</article>
    </section>
    {% endif %}
    <section id="quizzes"></section>

    <section id="flashcards"></section>
  </body>
</html>
